<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="${description}" />
        <title>${title}</title>
    </head>
    <body>
        <div>
            <div module="module1"></div>
            <div module="module2"></div>
        </div>

        <footer></footer>
    </body>
</html>
