.test-index {
    color: #333;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('./asset/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
