<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="<%= htmlWebpackPlugin.options.filename %>" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div>
            <module1></module1>
            <module2></module2>
        </div>

        <footer></footer>
    </body>
</html>
